<div id= "login_box_wrapper">
  <h2 id="login_header"> Login </h2>
  
  <%= form_tag '/sessions' , :class => 'loginForm' do %>

    
      <p><%= text_field_tag( :username, nil, placeholder: "Username", class: "username_form") %></p> 
    
     <p><%= password_field_tag( :password, nil, placeholder: "Password", class: "password_form") %></p>
     <%= submit_tag("Log In", class: "login_button") %>

  <% end %>

</div>

