<h2 class ="pageheader"> Login Page </h2>

<table id = "logintable">
  
  <%= form_tag '/sessions' do %>

    <tr>
      <td> Username: </td>
      <td><%= text_field_tag :username, nil, placeholder: "Username" %></td>
    </tr> 

    <tr>
       <td> Password: </td>
      <td><%= password_field_tag :password, nil, placeholder: "Password" %></td>
    </tr>

    <tr>
      <td> </td>
      <td> <%= submit_tag "Log In" %></td>
    </tr>

  <% end %>

</table>





