<h1> Blog Users</h1>

<table class = "tableformat">

  <% @users.each do |user| %>

  <tr>
    <td> First Name: </td>
    <td><%= user.fname %></td>
  </tr>

  <tr>
    <td> Last Name: </td>
    <td><%= user.lname %></td>
  </tr>

  <tr>
    <td> Username: </td>
    <td><%= user.username %></td>
  </tr>

  <tr>
    <td> Password: </td>
    <td><%= user.password %></td>
  </tr>

  <% end %>

</table>

